/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
*.org
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xls
*.xlsx
*.csv
*.bak
.DS_Store
*copy.php
docker-compose.yml
